body {
	box-sizing: border-box;
	margin: 0 auto;
/*	display: flex;*/
	width: 90%;
}

.cont{
	display: flex;
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	align-items: center;
	text-align: center;

}

#small{
	flex-basis: 33%;
}
#meduim{
	flex-basis: 66%;
}
#large{
	flex-basis: 100%;
}


/*for large screens*/
@media screen and (min-width:768px){
	#small,#meduim{ 
	}body{

	}
}
/*meduim screens*/
@media screen  and (max-width: 790px) and (min-width: 321px){
	#large,#small{
/*		display: none;*/
	}.cont{
		background-color: white;
		flex-wrap: wrap;
		margin: 0 auto;
		text-align: center;
	}#meduim  {
		flex-direction: row;
		text-align: center;
		font-size: 12px;
	}#small{
		flex-basis: 33%;
	}
}

@media screen and  (max-width: 320px){
	#large,#meduim{
/*		display: none;*/
	}.cont{
		width: 100%;
		display: flex;
		flex-direction: column;
	}p {
		font-size: 14px;
	}

	}
}
